.about {
  background-color: $color-white;
}

.about .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 554px;
  padding-right: 390px;


  &::before {
    position: absolute;
    left: 346px;
    top: 64px;
    z-index: 0;
    width: 155px;
    height: 317px;
    background-color: $color-white;
    background-image: url("../img/about-desktop@1x.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";

    @include retina {
      background-image: url("../img/about-desktop@2x.png");
    }
  }
}

.about__header {
  margin-top: 60px;
  margin-bottom: 0;
  @include font-roboto-condensed-regular();
  color: $color-text;
  font-size: 36px;
  line-height: 51px;
}

.about__text {
  margin-top: 20px;
  margin-bottom: 0;
  @include font-pt-mono-regular();
  font-size: 16px;
  line-height: 22px;
}

.about__button {
  margin-top: 38px;
  margin-left: 1px;
  margin-bottom: 108px;
  color: $color-blue;
  border: 1px solid $color-blue;
  padding: 14px 50px;
  font-size: 14px;
  line-height: 16px;

}

