.advantages {
  background-color: $color-white;
}

.advantages .container {
  position: relative;

  display: flex;
  padding-right: 375px;
  padding-left: 375px;

  &::before {
    content: "";
    position: absolute;
    top: -26px;
    left: 0;
    z-index: 0;

    width: 1920px;
    height: 1346px;

    background-image: url("../img/advantages-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 115px;

  @include ul-reset();
}

.advantages__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 570px;
  height: 298px;
  margin-bottom: 31px;
  padding-right: 42px;
  padding-left: 42px;

  background-color: $color-white;
  border: 1px solid $color-border;
  border-left: 3px $color-blue solid;
}

.advantages__item:hover {
  background-color: $color-blue;
}

.advantages__item svg {
  margin-top: 40px;
  margin-bottom: 0;

  fill: $color-blue;
}

.advantages__item--stopwatch svg {
  width: 29px;
  height: 35px;
}

.advantages__item--hired svg {
  width: 35px;
  height: 35px;
}

.advantages__item--detective svg {
  width: 36px;
  height: 31px;
}

.advantages__item--tag svg {
  width: 35px;
  height: 35px;
}

.advantages__item:hover svg {
  fill: $color-white;
}

.advantages__title {
  margin-top: 20px;
  margin-bottom: 0;

  font-size: 24px;
  line-height: 34px;
  color: $color-blue;

  @include font-roboto-condensed-regular();
}

.advantages__item:hover .advantages__title {
  color: $color-white;
}

.advantages__text {
  margin-top: 16px;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;

  @include font-pt-mono-regular();
}

.advantages__item:hover .advantages__text {
  color: $color-white;
}

@include media-desktop {
  .advantages .container {
    padding-right: 19.53vw;
    padding-left: 19.53vw;

    &::before {
      top: -1.35vw;
      left: 0;

      width: 100vw;
      height: 70.1vw;
    }
  }

  .advantages__list {
    margin-top: 5.99vw;
  }

  .advantages__item {
    width: 26.69vw;
    height: 15.52vw;
    margin-bottom: 1.61vw;
    padding-right: 2.19vw;
    padding-left: 2.19vw;

    border: 0.05vw solid $color-border;
    border-left: 0.16vw $color-blue solid;
  }

  .advantages__item svg {
    margin-bottom: 0;
  }

  .advantages__item--stopwatch svg {
    width: 1.51vw;
    height: 1.82vw;
  }

  .advantages__item--hired svg {
    width: 1.82vw;
    height: 1.82vw;
  }

  .advantages__item--detective svg {
    width: 1.88vw;
    height: 1.61vw;
  }

  .advantages__item--tag svg {
    width: 1.82vw;
    height: 1.82vw;
  }

  .advantages__title {
    margin-top: 1.04vw;
    margin-bottom: 0;

    font-size: 1.25vw;
    line-height: 1.78vw;
  }

  .advantages__text {
    margin-top: 0.83vw;
    margin-bottom: 0;

    font-size: 0.83vw;
    line-height: 1.14vw;
  }
}

@include media-tablet {
  .advantages .container {
    padding-right: 3.26vw;
    padding-left: 3.26vw;

    &::before {
      top: 11.85vw;
      left: 27.47vw;

      width: 72.79vw;
      height: 113.67vw;

      background-image: url("../img/advantages-tablet.svg");
    }
  }

  .advantages__list {
    margin-top: 7.03vw;
  }

  .advantages__item {
    width: 44.92vw;
    height: 39.84vw;
    margin-bottom: 3.91vw;
    padding-right: 2.6vw;
    padding-left: 3.26vw;

    border: 0.13vw solid $color-border;
    border-left: 0.39vw $color-blue solid;
  }

  .advantages__item:nth-child(3),
  .advantages__item:nth-child(4) {
    height: 30.34vw;
  }

  .advantages__item svg {
    margin-top: 3.13vw; //24px;
    margin-bottom: 0;
  }

  .advantages__item--stopwatch svg {
    width: 3.78vw; //29px;
    height: 4.56vw; //35px;
  }

  .advantages__item--hired svg {
    width: 4.56vw; //35px;
    height: 4.56vw; //35px;
  }

  .advantages__item--detective svg {
    width: 4.69vw; //36px;
    height: 4.04vw; //31px;
  }

  .advantages__item--tag svg {
    width: 4.56vw; //35px;
    height: 4.56vw; //35px;
  }

  .advantages__title {
    margin-top: 0.91vw; //7px;
    margin-bottom: 0;

    font-size: 3.13vw; //24px;
    line-height: 4.43vw; //34px;
  }

  .advantages__text {
    margin-top: 1.04vw; //8px;
    margin-bottom: 0;

    font-size: 2.08vw; //16px;
    line-height: 2.86vw; //22px;
  }
}

@include media-mobile {
  .advantages .container {
    padding-right: 14px;
    padding-left: 14px;

    &::before {
      top: 814px;
      left: 5px;

      width: 320px;
      height: 689px;

      background-image: url("../img/advantages-mobile.svg");
    }
  }

  .advantages__list {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 38px;
  }

  .advantages__item {
    width: 90.63vw;//290px; //
    height: 310px;
    margin-bottom: 20px;
    padding-right: 12px;
    padding-left: 24px;

    border: 1px solid $color-border;
    border-left: 3px $color-blue solid;
  }

  .advantages__item:nth-child(3) {
    height: 231px;
  }

  .advantages__item:nth-child(4) {
    height: 245px;
  }

  .advantages__item svg {
    margin-top: 17px;
    margin-bottom: 0;
  }

  .advantages__item--stopwatch svg {
    width: 29px;
    height: 35px;
  }

  .advantages__item--hired svg {
    width: 35px;
    height: 35px;
  }

  .advantages__item--detective svg {
    width: 36px;
    height: 31px;
  }

  .advantages__item--tag svg {
    width: 35px;
    height: 35px;
  }

  .advantages__title {
    margin-top: 20px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 140.62%;
  }

  .advantages__text {
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 22px;
  }
}
