.advantages {
  background-color: transparent;
}

.advantages .container {
  position: relative;

  display: flex;
  padding-right: 136px;
  padding-left: 134px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 115px;

  @include ul-reset();
}

.advantages__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 48.7%;
  min-height: 298px;
  margin-bottom: 31px;
  padding-right: 42px;
  padding-left: 42px;

  background-color: $color-white;
  border: 1px solid $color-border;
  border-left: 3px $color-blue solid;
}

.advantages__item:hover {
  background-color: $color-blue;
}

.advantages__item svg {
  margin-top: 40px;
  margin-bottom: 0;

  fill: $color-blue;
}

.advantages__item--stopwatch svg {
  width: 29px;
  height: 35px;
}

.advantages__item--hired svg {
  width: 35px;
  height: 35px;
}

.advantages__item--detective svg {
  width: 36px;
  height: 31px;
}

.advantages__item--tag svg {
  width: 35px;
  height: 35px;
}

.advantages__item:hover svg {
  fill: $color-white;
}

.advantages__title {
  margin-top: 20px;
  margin-bottom: 0;

  font-size: 24px;
  line-height: 34px;
  color: $color-blue;

  @include font-roboto-condensed-regular();
}

.advantages__item:hover .advantages__title {
  color: $color-white;
}

.advantages__text {
  margin-top: 16px;
  margin-bottom: 50px;

  font-size: 16px;
  line-height: 22px;
  color: $color-text;

  @include font-pt-mono-regular();
}

.advantages__item:hover .advantages__text {
  color: $color-white;
}


@include media-tablet {
  .advantages .container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .advantages__list {
    margin-top: 54px;
  }

  .advantages__item {
    width: 48%;
    min-height: 305px;
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 25px;

    border: 1px solid $color-border;
    border-left: 3px $color-blue solid;
  }

  .advantages__item:nth-child(3),
  .advantages__item:nth-child(4) {
    min-height: 233px;
  }

  .advantages__item svg {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .advantages__item--stopwatch svg {
    width: 29px;
    height: 35px;
  }

  .advantages__item--hired svg {
    width: 35px;
    height: 35px;
  }

  .advantages__item--detective svg {
    width: 36px;
    height: 31px;
  }

  .advantages__item--tag svg {
    width: 35px;
    height: 35px;
  }

  .advantages__title {
    margin-top: 7px;
    margin-bottom: 0;

    font-size: 24px;
    line-height: 34px;
  }

  .advantages__text {
    margin-top: 8px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 22px;
  }
}

@include media-mobile {
  .advantages .container {
    padding-right: 0;
    padding-left: 0;
  }

  .advantages__list {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 35px;
  }

  .advantages__item {
    width: 91%;
    min-height: 310px;
    margin-bottom: 20px;
    padding-right: 12px;
    padding-left: 24px;

    border: 1px solid $color-border;
    border-left: 3px $color-blue solid;
  }

  .advantages__item:nth-child(3) {
    min-height: 231px;
  }

  .advantages__item:nth-child(4) {
    min-height: 245px;
  }

  .advantages__item svg {
    margin-top: 17px;
    margin-bottom: 0;
  }

  .advantages__item--stopwatch svg {
    width: 29px;
    height: 35px;
  }

  .advantages__item--hired svg {
    width: 35px;
    height: 35px;
  }

  .advantages__item--detective svg {
    width: 36px;
    height: 31px;
  }

  .advantages__item--tag svg {
    width: 35px;
    height: 35px;
  }

  .advantages__title {
    margin-top: 20px;
    margin-bottom: 0;

    font-size: 20px;
    line-height: 140.62%;
  }

  .advantages__text {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 22px;
  }
}
