.button {
  @include font-roboto-condensed-bold();

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;

  border: 1px solid $color-white;
  box-sizing: border-box;
  border-radius: 5px;

  &--call {
    padding: 13px 26px;
  }
}

