.button {
  box-sizing: border-box;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 1px solid $color-white;
  border-radius: 5px;

  @include font-roboto-condensed-bold();
}

.button:hover {
  opacity: 0.6;
}

.button:focus,
.button:active {
  outline: none;
  opacity: 0.3;
}
/*
@include media-desktop {
  .button {
    font-size: 0.73vw;
    line-height: 0.83vw;

    border: 0.05vw solid $color-white;
    border-radius: 0.26vw;
  }
}
*/
@include media-tablet {
  .button {
    font-size: 1.82vw; //14px;
    line-height: 2.08vw; //16px;

    border: 0.13vw solid $color-white;
    border-radius: 0.65vw; //5px;

    @include font-roboto-condensed-bold();
  }
}

@include media-mobile {
  .button {
    box-sizing: border-box;

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    border: 1px solid $color-white;
    border-radius: 5px;

    @include font-roboto-condensed-bold();
  }
}
