.button {
  @include font-roboto-condensed-bold();

  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  border: 1px solid $color-white;
  box-sizing: border-box;
  border-radius: 5px;
}

@include media-desktop {
  .button {
    font-size: 0.73vw;
    line-height: 0.83vw;
    border: 0.05vw solid $color-white;
    border-radius: 0.26vw;
  }
}

