.center {
  background-image: url("../img/advantages-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 -26px;
  background-size: cover;
  background-color: $color-white;

  @include media-tablet {
    background-image: url("../img/advantages-tablet.svg");
    background-position: 211px 91px;
    background-size: auto;
    //background-size: 100%;

  }

  @include media-mobile {
    background-image: url("../img/advantages-mobile.svg");
    background-position: 4px 650px;
    background-size: auto;
  }
}
