.contacts {
  flex-shrink: 0;
  margin-left: 424px;
}

.contacts__header {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 15px;
  line-height: 16px;
  color: $color-footer-text;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include font-roboto-condensed-regular();
}

.contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;
  margin-top: 24px;

  @include ul-reset();
}

.contacts__item,
.contacts__link {
  display: block;

  font-size: 15px;
  line-height: 25px;
  color: $color-footer-text;

  opacity: 0.5;

  @include font-pt-mono-regular();
}

@include media-desktop {
  .contacts {
    margin-left: 22.08vw;
  }

  .contacts__header {
    margin-top: 0;
    margin-bottom: 0.52vw;

    font-size: 0.78vw;
    line-height: 0.83vw;
  }

  .contacts__list {
    height: 6.77vw;
    margin-top: 1.25vw;
  }

  .contacts__item,
  .contacts__link {
    font-size: 0.78vw;
    line-height: 1.3vw;
  }
}

@include media-tablet {
  .contacts {
    flex-shrink: 0;
    margin-left: 143px;
  }

  .contacts__header {
    margin-top: 29px;
    margin-bottom: 10px;

    font-size: 15px;
    line-height: 16px;
  }

  .contacts__list {
    height: 130px;
    margin-top: 24px;
  }

  .contacts__item,
  .contacts__link {
    font-size: 15px;
    line-height: 25px;
  }
}

@include media-mobile {
  .contacts {
    flex-shrink: 0;
    margin-left: 424px;
  }

  .contacts__header {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 15px;
    line-height: 16px;
    color: $color-footer-text;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @include font-roboto-condensed-regular();
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 130px;
    margin-top: 24px;

    @include ul-reset();
  }

  .contacts__item,
  .contacts__link {
    display: block;

    font-size: 15px;
    line-height: 25px;
    color: $color-footer-text;

    opacity: 0.5;

    @include font-pt-mono-regular();
  }
}
