.footer {
  position: relative;

  background-color: $color-footer;
}

.footer .container {
  display: flex;
  padding-right: 256px;
  padding-left: 252px;
}

.footer__first {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
}

.footer__center {
  margin-top: 67px;
}

.footer__last {
  margin-top: 67px;
}

.footer__social {
  margin-top: 53px;
}

.footer__desctiption {
  position: absolute;
  bottom: 0;
  left: 478px;

  width: 240px;

  font-size: 13px;
  line-height: 24px;
  color: $color-footer-text;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  opacity: 0.5;

  @include font-pt-mono-regular();
}

@include media-desktop {
  .footer .container {
    padding-right: 13.33vw;
    padding-left: 13.13vw;
  }

  .footer__first {
    margin-top: 3.49vw;
  }

  .footer__center {
    margin-top: 3.49vw;
  }

  .footer__last {
    margin-top: 3.49vw;
  }

  .footer__social {
    margin-top: 2.76vw;
  }

  .footer__desctiption {
    bottom: 0;
    left: 24.9vw;

    width: 12.5vw;

    font-size: 0.68vw;
    line-height: 1.24vw;
  }
}

@include media-tablet {
  .footer .container {
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 0;
  }

  .footer__first {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2.47vw;//19px;
    padding-bottom: 2.99vw;//23px;

    border-bottom: 0.13vw solid $color-footer-border;
  }

  .footer__logo {
    margin-left: 3.26vw;//25px;
  }

  .footer__social {
    margin-top: 1.3vw;//10px;
    margin-right: 3.26vw;//25px;
  }

  .footer__center {
    margin-top: 1.3vw;//10px;
  }

  .footer__last {
    margin-top: 1.3vw;//10px;
  }


  .footer__desctiption {
    position: static;

    margin-top: 2.21vw;//17px;
    margin-left: 3.13vw;//24px;

    font-size: 1.69vw;//13px;
    line-height: 3.13vw;//24px;
  }
}

@include media-mobile {
  .footer .container {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
  }

  .footer__first {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 38px;
    padding-right: 10px;
    padding-left: 14px;
  }

  .footer__center {
    margin-top: 10px;
  }

  .footer__last {
    margin-top: 0;
  }

  .footer__social {
    margin-top: 53px;
  }

  .footer__desctiption {
    position: static;

    margin-top: 25px;

    font-size: 13px;
    line-height: 24px;
    //width: 240px;
  }
}
