.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-right: 257px;
  padding-bottom: 27px;
  padding-left: 252px;
}

.header__logo img {
  width: 202px;
  height: 52px;
}

.header__nav {
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -341px;

    width: 37px;
    height: 1px;

    background-color: $color-white;
  }

  &::before {
    top: 21px;
  }

  &::after {
    top: 33px;
  }
}

.header__button {
  padding: 13px 26px;
}

@include media-desktop {
  .header .container {
    padding-top: 1.5104vw;
    padding-right: 13.3854vw;
    padding-bottom: 1.4062vw;
    padding-left: 13.125vw;
  }

  .header__logo img {
    width: 10.52vw;
    height: 2.7vw;
  }

  .header__nav {
    &::before,
    &::after {
      left: -17.76vw;

      width: 1.92vw;
      height: 0.05vw;
    }

    &::before {
      top: 1.09vw;
    }

    &::after {
      top: 1.71vw;
    }
  }

  .header__button {
    padding: 0.68vw 1.35vw;
  }
}

@include media-tablet {
  .header .container {
    padding-top: 2.6vw;
    padding-right: 0;
    padding-bottom: 2.6vw;
    padding-left: 3.25vw;
  }

  .header__logo img {
    width: 26.3vw;
    height: 6.77vw;
  }

  .header__nav {
    &::before,
    &::after {
      left: -6.12vw;

      width: 4.82vw;
      height: 0.13vw;
    }

    &::before {
      top: 1.69vw;
    }

    &::after {
      top: 3.25vw;
    }
  }

  .header__button {
    display: none;
  }
}

@include media-mobile {
  .header .container {
    padding-top: 12px; //3.75vw;
    padding-right: 0;
    padding-bottom: 12px; //3.75vw;
    padding-left: 15px; //4.69vw;
  }

  .header__logo img {
    width: 38px; //11.87vw;
    height: 38px; //11.87vw;
  }

  .header__nav {
    &::before,
    &::after {
      left: -46px; //14.38vw;

      width: 37px; //11.56vw;
      height: 1px; //0.31vw;
    }

    &::before {
      top: 15px; //4.69vw;
    }

    &::after {
      top: 27px; //8.44vw;
    }
  }

  .header__button {
    display: none;
  }
}
