.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 252px;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-right: 257px;
  background-color: $color-header;
}
