.main-menu {
  display: flex;
  justify-content: flex-end;
  position: relative;

  @include ul-reset();
  margin-right: 49px;
  margin-top: 17px;
}

@include media-desktop {
  .main-menu {
    margin-right: 2.55vw;
    margin-top: 0.88vw;
  }
}

@include media-tablet {
  .main-menu {
    margin-right: 2.08vw;
    margin-top: 1.3vw;
  }
}

@include media-mobile {
  .main-menu {
    margin-right: 2.5vw;
    margin-top: 3.75vw;
  }
}

.main-menu__item {
  margin-left: 91px;
}

@include media-desktop {
  .main-menu__item {
    margin-left: 4.73vw;
  }
}

@include media-tablet {
  .main-menu__item {
    margin-left: 3.51vw;
  }
}

@include media-mobile {
  .main-menu__item {
    margin-left: 5.31vw;
  }
}

.main-menu__item--email svg {
  width: 19px;
  height: 14px;
}

@include media-desktop {
  .main-menu__item--email svg {
    width: 0.98vw;
    height: 0.72vw;
  }
}

@include media-tablet {
  .main-menu__item--email svg {
    width: 3.25vw;
    height: 2.34vw;
  }
}

@include media-mobile {
  .main-menu__item--email svg {
    width: 7.81vw;
    height: 5.63vw;
  }
}


.main-menu__item--phone svg {
  width: 18px;
  height: 18px;
}

@include media-desktop {
  .main-menu__item--phone svg {
    width: 0.93vw;
    height: 0.93vw;
  }
}

@include media-tablet {
  .main-menu__item--phone svg {
    width: 3.12vw;
    height: 3.12vw;
  }
}

@include media-mobile {
  .main-menu__item--phone svg {
    width: 7.5vw;
    height: 7.5vw;
  }
}

.main-menu__link {
  @include font-pt-mono-regular();
  font-size: 16px;
  line-height: 18px;
  color: $color-white;
}

@include media-desktop {
  .main-menu__link {
    font-size: 0.83vw;
    line-height: 0.93vw;
  }
}

.main-menu__link svg {
  margin-right: 7px;
}

@include media-desktop {
  .main-menu__link svg {
    margin-right: 0.36vw;
  }
}

@include media-tablet {
  .main-menu__link span {
    display: none;
  }
}

@include media-mobile {
  .main-menu__link span {
    display: none;
  }
}
