.main-menu {
  position: relative;

  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
  margin-right: 49px;

  @include ul-reset();
}

.main-menu__item {
  position: relative;
}

.main-menu__item:last-child {
  margin-left: 126px;
}

.main-menu__item svg {
  position: absolute;
}

.main-menu__item--email svg {
  top: 4px;
  left: -37px;

  width: 19px;
  height: 14px;
}

.main-menu__item--phone svg {
  top: -3px;
  left: -36px;

  width: 18px;
  height: 18px;
  margin-top: 4px;
}

.main-menu__link {
  font-size: 16px;
  line-height: 18px;
  color: $color-white;

  transition-duration: 500ms;
  transition-property: opacity;

  @include font-pt-mono-regular();
}

.main-menu__link:hover {
  opacity: 0.6;
}

.main-menu__link:active {
  opacity: 0.3;
}

.main-menu__link:focus {
  outline: none;
}

@include media-tablet {
  .main-menu {
    margin-top: 15px;
    margin-right: 0;
  }

  .main-menu__item:last-child {
    margin-left: 33px;
  }

  .main-menu__item svg {
    position: static;
  }

  .main-menu__item--email svg {
    width: 25px;
    height: 18px;
    margin-top: 1px;
  }

  .main-menu__item--phone svg {
    width: 24px;
    height: 24px;
    margin-top: -3px;
  }

  .main-menu__link span {
    display: none;
  }
}

@include media-mobile {
  .main-menu {
    margin-top: 6px;
    margin-right: 0;
  }

  .main-menu__item:last-child {
    margin-left: 22px;
  }

  .main-menu__item svg {
    position: static;
  }

  .main-menu__item--email svg {
    width: 25px;
    height: 18px;
    margin-top: 12px;
  }

  .main-menu__item--phone svg {
    width: 24px;
    height: 24px;
    margin-top: 9px;
  }

  .main-menu__link span {
    display: none;
  }
}
