.motivation {
  background-color: $color-motivation;
}

.motivation .container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 764px;
  padding-left: 10px;

  vertical-align: center;

  background-image: url("../img/background-desktop.svg");
  background-repeat: no-repeat;
  background-position: -240px -113px;
  background-size: auto;
}

.motivation__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 363px;
  margin-top: auto;
  margin-bottom: auto;
}


.motivation__header {
  z-index: 1;

  margin-top: 2px;
  margin-bottom: 0;

  font-size: 80px;
  line-height: 94px;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  @include font-roboto-condensed-bold();
}


.motivation__text {
  position: relative;
  z-index: 1;

  width: 650px;
  max-height: 500px;
  margin-top: 26px;
  margin-bottom: 45px;
  margin-left: 0;
  padding-left: 98px;
  overflow-y: hidden;

  font-size: 22px;
  line-height: 34px;
  color: $color-white;

  @include font-pt-mono-regular();

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 4px;

    width: 66px;
    height: 2px;

    background-color: $color-white;
  }
}

.motivation__mobile-text {
  display: none;
}

.motivation__button {
  z-index: 1;

  max-width: 605px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 97px;
  padding: 17px 46px;

  font-size: 16px;
  line-height: 19px;

  background-color: $color-blue;
  border: 1px solid $color-blue;
}

.motivation__image {
  position: absolute;
  top: 148px;
  right: -62px;

  width: 705px;
  height: 515px;
}

@media (max-width: 1600px) {
  .motivation__image {
    right: 0;
  }
}

.motivation__up {
  position: absolute;
  top: 622px;
  left: -34px;

  font-size: 14px;
  line-height: 16px;
  color: $color-white;

  background-color: transparent;
  border: none;
  transform: rotate(-90deg);
  cursor: pointer;
  opacity: 0.5;

  transition-property: opacity;
  transition-duration: 500ms;


  @include font-pt-mono-regular();
}

.motivation__up:hover {
  opacity: 0.6;
}

.motivation__up:active {
  opacity: 0.3;
}

.motivation__up:focus {
  outline: none;
}

@include media-tablet {
  .motivation .container {
    min-height: 606px;
    padding-right: 190px;
    padding-left: 89px;

    background-image: url("../img/background-tablet.svg");
    background-position: 0 -103px;
    background-size: 100% 100%;
  }

  @media (min-width: 769px) {
    .motivation .container {
      background-position: 0 -60px;
    }
  }

  .motivation__block {
    min-height: 400px;
  }

  .motivation__header {
    margin-top: 4px;
    margin-bottom: 0;

    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: 774px) {
    .motivation__header {
      margin-top: 0;
    }
  }

  .motivation__text {
    width: auto;
    max-width: 510px;
    max-height: 197px;
    margin-top: 29px;
    margin-bottom: 54px;
    padding-left: 50px;

    font-size: 18px;
    line-height: 156.8%;

    &::before {
      top: 16px;
      left: 1px;

      width: 33px;
      height: 2px;
    }
  }

  .motivation__button {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
    padding: 17px 31px;
  }

  @media (min-width: 771px) {
    .motivation__button {
      margin-bottom: 205px;
    }
  }

  .motivation__image {
    top: 32px;
    right: 0;

    width: 260px;
    height: 340px;
  }

  .motivation__up {
    display: none;
  }
}

@include media-mobile {
  .motivation .container {
    align-items: center;
    min-height: 582px;
    padding-right: 5px;
    padding-left: 15px;

    background-image: url("../img/background-mobile.svg");
    background-position: 0 -98px;
    background-size: 100% 100%;
  }

  @media (min-width: 321px) {
    .motivation .container {
      background-position: 0 -60px;
    }
  }


  .motivation__header {
    margin-top: 150px;
    margin-bottom: 0;

    font-size: 40px;
    line-height: 47px;
  }

  .motivation__text {
    width: 230px;
    max-height: 178px;
    margin-top: 27px;
    margin-bottom: 39px;
    margin-left: 0;
    padding-left: 51px;

    font-size: 16px;
    line-height: 156.8%;

    &::before {
      top: 15px;
      left: 0;

      width: 33px;
      height: 2px;
    }
  }

  @media (min-width: 380px) {
    .motivation__text {
      width: 300px;
    }
  }


  .motivation__mobile-text {
    display: inline;
  }

  .motivation__desktop-text {
    display: none;
  }

  .motivation__button {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4px;
    padding: 18px 31px;

    font-size: 16px;
    line-height: 19px;

    border: 1px solid $color-blue;
  }

  @media (min-width: 378px) {
    .motivation__button {
      margin-bottom: 105px;
    }
  }

  .motivation__image {
    top: 27px;
    right: 0;

    width: 294px;
    height: 220px;
  }

  .motivation__up {
    display: none;
  }
}
