.offers {
  background-color: $color-motivation;
}

.offers .container {
  display: flex;
  flex-direction: column;
  padding-right: 136px;
  padding-left: 136px;
}

@media (max-width: 1439px) {
  .offers .container {
    padding-right: 8.45vw;
    padding-left: 8.45vw;
  }
}

.offers__header {
  margin-top: 93px;
  margin-bottom: 0;
  margin-left: 0;

  font-size: 36px;
  line-height: 51px;
  color: $color-white;

  @include font-roboto-condensed-regular();
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 48px;
  margin-bottom: 58px;

  @include ul-reset();
}

.offers__list li {
  position: relative;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  //width: 31.5%;
  width: 370px;
  height: 620px;
  margin-bottom: 70px;
  //margin-right: 2.75%;
  margin-right: 29px;
  background-color: $color-motivation;
}

@media (max-width: 1439px) {
  .offers__list li {
    width: 25.71vw; //370px;
    height: 43.09vw; //620px;
    margin-right: 1.9vw; //29px;
  }
}

.offers__list li:nth-child(3n) {
  margin-right: 0;
}

.offers__list a:hover div {
  outline: 2px solid $color-blue;
}

.offers__list a:active {
  opacity: 0.3;
}

.offers__list a:focus {
  outline: none;
}

.offers__list li::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;

  color: $color-white;

  background-color: $color-blue;

  background-image: url("../img/angle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 6px 9px;
}

.offers__list div {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(27, 45, 55, 0.7);
}

.offers__list h3 {
  z-index: 2;
  width: 160px;
  margin-top: 51px;
  margin-left: 42px;

  font-size: 20px;
  line-height: 30px;
  color: $color-white;

  @include font-roboto-condensed-regular();
}

.offers__list img {
  width: 370px;
  height: 620px;
  margin-bottom: -6px;
}

@media (max-width: 1439px) {
  .offers__list img {
    width: 25.71vw; //370px;
    height: 43.09vw; //620px;
  }
}

@include media-tablet {
  .offers .container {
    padding-right: 10px;
    padding-left: 15px;
  }

  .offers__header {
    width: 615px;
    margin-top: 51px;
    margin-bottom: 0;
    margin-left: 10px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .offers__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 35px;

    @include ul-reset();
  }

  .offers__list li {
    width: 720px;
    height: 256px;
    margin-bottom: 45px;
    margin-right: 0;
  }

  @media (min-width: 769px) {
    .offers__list li {
      width: 93.63vw;
      height: 33.29vw;
    }
  }

  .offers__list li::after {
    right: 0;
    bottom: 0;

    width: 63px;
    height: 63px;

    font-size: 12px;
  }

  .offers__list h3 {
    width: 160px;
    margin-top: 41px;
    margin-left: 44px;

    font-size: 20px;
    line-height: 30px;
  }

  .offers__list img {
    width: 720px;
    height: 256px;
  }

  @media (min-width: 769px) {
    .offers__list img {
      width: 93.63vw;
      height: 33.29vw;
    }
  }
}

@include media-mobile {
  .offers .container {
    padding-right: 14px;
    padding-left: 14px;
  }

  .offers__header {
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 10px;

    font-size: 28px;
    line-height: 140.62%;
  }

  .offers__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 34px;

    @include ul-reset();
  }

  .offers__list li {
    width: 290px;
    height: 256px;
    margin-bottom: 31px;
    margin-right: 0;
  }

  @media (min-width: 321px) {
    .offers__list li {
      width: 90.34vw;
      height: 79.75vw;
    }
  }

  .offers__list li::after {
    right: 0;
    bottom: 0;

    width: 63px;
    height: 63px;

    font-size: 14px;
  }

  .offers__list h3 {
    width: 160px;
    margin-top: 22px;
    margin-left: 37px;

    font-size: 20px;
    line-height: 30px;
  }

  .offers__list img {
    width: 290px;
    height: 256px;
  }

  @media (min-width: 321px) {
    .offers__list img {
      width: 90.34vw;
      height: 79.75vw;
    }
  }
}
