.question {
  background-color: $color-blue;
  background-image: url("../img/question-desktop.svg");
  background-repeat: no-repeat;
  background-position: 175px -61px;
  background-size: auto;
}

.question .container {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-right: 0;
  padding-left: 38%;

  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 161px;
    left: 110px;

    width: 511px;
    height: 288px;

    background-color: $color-blue;
    background-image: url("../img/question-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    @include retina {
      background-image: url("../img/question-desktop@2x.png");
    }
  }
}

@media (max-width: 1600px) {
  .question .container {
    padding-left: 45%;
  }

  .question .container::before {
    left: 10px;
  }
}

.question__header {
  z-index: 1;

  margin-top: 92px;
  margin-bottom: 0;

  font-size: 36px;
  line-height: 51px;
  color: $color-white;

  @include font-roboto-condensed-regular();
}

.question__text {
  z-index: 1;

  margin-top: 10px;
  margin-left: 5px;

  font-size: 16px;
  line-height: 22px;
  color: $color-white;

  @include font-pt-mono-regular();
}

.question__form {
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 574px;
  margin-top: 32px;
  margin-bottom: 113px;

  background-color: $color-blue;
}

@media (max-width: 1060px) {
  .question__form {
    width: 550px;
  }
}

.question__form input[type="text"],
.question__form textarea {
  box-sizing: border-box;
  padding-left: 23px;

  font-size: 16px;
  line-height: 22px;
  color: $color-white;

  background-color: #19baff; //$color-blue;
  border: none;
  outline: none;
  cursor: pointer;

  @include font-pt-mono-regular();
}

.question__form input[type="text"]:hover,
.question__form textarea:hover {
  padding-left: 21px;

  border: 2px solid $color-white;
}

.question__form textarea:hover {
  padding-top: 12px;
}

.question__form input[type="text"]::-webkit-input-placeholder,
.question__form textarea::-webkit-input-placeholder {
  color: $color-white;

  opacity: 0.5;
}

.question__form input[type="text"]::-moz-placeholder,
.question__form textarea::-moz-placeholder {
  color: $color-white;

  opacity: 0.5;
}

.question__form input[type="text"]:-moz-placeholder,
.question__form textarea:-moz-placeholder {
  color: $color-white;

  opacity: 0.5;
}

.question__form input[type="text"]:-ms-input-placeholder,
.question__form textarea:-ms-input-placeholder {
  color: $color-white;

  opacity: 0.5;
}

.question__form input[type="text"] {
  width: 270px;
  height: 50px;
}

.question__form input[type="checkbox"] + label {
  position: relative;

  width: 229px;
  margin-top: 52px;
  margin-left: 10px;
  padding-left: 33px;

  font-size: 14px;
  line-height: 16px;
  color: $color-white;

  cursor: pointer;

  @include font-pt-mono-regular();

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 16px;
    height: 16px;

    background-image: url("../img/question-check-off.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.question__form input[type="checkbox"] + label:hover {
  opacity: 0.6;
}

.question__form input[type="checkbox"] + label:active {
  opacity: 0.3;
}


.question__form input[type="checkbox"]:checked + label::before {
  background-image: url("../img/question-check-on.svg");
}

.question__form button {
  box-sizing: border-box;
  margin-top: 46px;
  margin-left: 6px;
  padding: 13px 79px;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $color-blue;
  border: 1px solid $color-white;
  border-radius: 5px;
  cursor: pointer;

  @include font-roboto-condensed-bold();
}

.question__form button:hover {
  opacity: 0.6;
}

.question__form button:focus {
  outline: none;
}

.question__form button:active {
  opacity: 0.3;
}

.question__form textarea {
  width: 100%;
  height: 154px;
  margin-top: 40px;
  padding-top: 14px;

  resize: none;
}

@include media-tablet {
  .question {
    background-image: none;
  }

  .question .container {
    padding-right: 0;
    padding-left: 0;

    &::before {
      display: none;
    }
  }

  .question__header {
    margin-top: 78px;
    margin-bottom: 0;
    margin-left: 88px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .question__text {
    margin-top: 17px;
    margin-left: 93px;

    font-size: 16px;
    line-height: 22px;
  }

  .question__form {
    align-self: center;
    width: 77%;
    margin-top: 40px;
    margin-bottom: 104px;
  }

  .question__form input[type="text"],
  .question__form textarea {
    padding-left: 23px;

    font-size: 16px;
    line-height: 22px;
  }

  .question__form input[type="text"] {
    width: 279px;
    height: 50px;
  }

  .question__form input[type="checkbox"] + label {
    width: 235px;
    margin-top: 54px;
    margin-left: 10px;

    font-size: 14px;
    line-height: 16px;

    &::before {
      top: 0;
      left: 0;

      width: 16px;
      height: 16px;
    }
  }

  .question__form button {
    margin-top: 44px;
    margin-left: 4px;
    padding: 14px 84px;

    font-size: 14px;
    line-height: 16px;

    border: 1px solid $color-white;
    border-radius: 5px;
  }

  .question__form textarea {
    height: 161px;
    margin-top: 40px;
    padding-top: 14px;
  }
}

@include media-mobile {
  .question {
    background-image: none;
  }

  .question .container {
    padding-right: 14px;
    padding-left: 14px;

    &::before {
      display: none;
    }
  }

  .question__header {
    margin-top: 30px;
    margin-bottom: 0;

    font-size: 28px;
    line-height: 140.62%;
  }

  .question__text {
    margin-top: 12px;
    margin-bottom: 0;
    margin-left: 0;

    font-size: 16px;
    line-height: 22px;
  }

  .question__form {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 42px;
  }

  .question__form input[type="text"],
  .question__form textarea {
    margin-top: 0;
    margin-bottom: 31px;
    padding-left: 20px;

    font-size: 16px;
    line-height: 22px;
  }


  .question__form input[type="text"]:hover,
  .question__form textarea:hover {
    padding-left: 18px;
  }


  .question__form input[type="text"] {
    width: 100%;
    height: 50px;
  }

  .question__form input[type="checkbox"] + label {
    width: auto;
    min-width: 223px;
    margin-top: 31px;
    margin-left: 0;

    font-size: 14px;
    line-height: 16px;

    &::before {
      top: 0;
      left: 0;

      width: 16px;
      height: 16px;
    }
  }

  .question__form button {
    margin-top: 0;
    margin-left: 0;
    padding: 14px 79px;

    font-size: 14px;
    line-height: 16px;

    border: 1px solid $color-white;
    border-radius: 5px;
  }

  .question__form textarea {
    width: 100%;
    height: 108px;
    padding-top: 14px;
  }
}
