.site-parts__header {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;

  font-size: 15px;
  line-height: 16px;
  color: $color-footer-text;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include font-roboto-condensed-regular();
}

.site-parts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 160px;
  margin-top: 24px;
  margin-bottom: 0;

  @include ul-reset();
}

.site-parts__item--break {
  flex-basis: 100%;
  width: 0;
}

.site-parts__item {
  flex-shrink: 1;
  max-width: 235px;
  margin-left: 0;
}

.site-parts__item:nth-child(n + 5) {
  max-width: 120px;
  margin-left: 74px;
}

@media (max-width: 1354px) {
  .site-parts__item {
    max-width: 150px;
  }

  .site-parts__item:nth-child(n + 5) {
    max-width: 120px;
    margin-left: 40px;
  }
}

.site-parts__link {
  display: block;

  font-size: 15px;
  line-height: 25px;
  color: $color-footer-text;

  opacity: 0.5;

  @include font-pt-mono-regular();

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

@include media-tablet {
  .site-parts {
    flex-shrink: 1;
  }

  .site-parts__header {
    margin-top: 37px;
    margin-bottom: 0;
    margin-left: 0;

    font-size: 15px;
    line-height: 16px;
  }

  .site-parts__list {
    flex-wrap: nowrap;
    height: auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .site-parts__item:nth-child(n) {
    max-width: 235px;
    margin-left: 0;
  }

  .site-parts__link {
    font-size: 15px;
    line-height: 25px;
  }
}

@include media-mobile {
  .site-parts {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    padding-right: 0;
    padding-left: 14px;

    border-top: 1px solid $color-footer-border;
  }

  .site-parts__header {
    margin-top: 28px;
    margin-bottom: 27px;
    margin-left: 0;

    font-size: 15px;
    line-height: 16px;
  }

  .site-parts__list {
    height: auto;
    margin-top: 10px;
    padding-bottom: 14px;
  }

  .site-parts__item:nth-child(n) {
    max-width: 235px;
    margin-left: 0;
  }

  .site-parts__link {
    font-size: 15px;
    line-height: 25px;
  }
}
