.toggle {
  display: none;
}

@include media-mobile {
  .toggle {
    position: absolute;
    top: 28px;
    right: 17px;

    display: block;
    width: 16px;
    height: 16px;

    background-color: transparent;
    border: none;
    cursor: pointer;


    &:hover {
      opacity: 0.6;
    }

    &:focus,
    &:active {
      outline: none;
      opacity: 0.3;
    }

    &--opened {
      background-image: url("../img/toggle-opened.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--opened + ul {
      display: flex;
    }

    &--closed {
      background-image: url("../img/toggle-closed.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--closed + ul {
      display: none;
    }
  }

  .no-js .toggle {
    display: none;
  }

  .no-js .toggle--closed + ul {
    display: flex;
  }
}
