body {
  min-width: $mobile-min-width;
  margin: 0;
  padding: 0;

  font-size: 0.83vw;
  line-height: 1.15vw;
  color: $color-text;

  background-color: $color-main;

  @include font-pt-mono-regular();
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.sprite {
  display: none;
}
